patient_index.html.erb

<div>Username: <%= @auth.username %> </div>
<div>Name: <%= @auth.first_name %> <%= @auth.last_name %> </div>
<div>Email: <%= @auth.email %> </div>
<div>Phone: <%= @auth.phone %> </div>
<div>Age: <%= @auth.age %> </div>
<!-- Put the photo in here -->

<div><%= link_to "Edit Your Personal Info", edit_patient_path(@auth) %></div>
<div><%= link_to "List of Doctors", root_path %></div>
<div><%= link_to "List of Medications", root_path %></div>
<div><%= link_to "Current Illnesses", root_path %></div>
<div><%= link_to "Visit Info", root_path %></div>
<div><%= link_to "Make an Appointment", root_path %></div>
