<h1> Patient Dashboard </h1>
<div>Username: <%= @auth.username %> </div>
<div>Name: <%= @auth.first_name %> <%= @auth.last_name %> </div>
<div>Email: <%= @auth.email %> </div>
<div>Phone: <%= @auth.phone %> </div>
<div>Age: <%= @auth.age %> </div>
<!-- Put the photo in here -->

<div><%#= image_tag %></div>
<div><%= link_to "Edit Your Personal Info", root_path %></div>
<div><%= link_to "Add a photo", add_patient_photo_path %></div>
<div><%= link_to "Your Medical Providers", patient_doctorlist_path, remote: true %></div>
<div><%= link_to "List of Medications", root_path %></div>
<div><%= link_to "Current Illnesses", root_path %></div>
<div><%= link_to "Visit Info", root_path %></div>
<div><%= link_to "Make an Appointment", root_path %></div>
<div><%= link_to  "Click here to find a provider", "/doctor_data", remote: true %></div>

<!-- FOR AJAX TO TARGET-->
<div id="doctor_list"></div>