<h1>Welcome back, Dr. <%= @auth.last_name %></h1>

<div>Username: <%= @auth.username %> </div>
<div>Name: <%= @auth.first_name %> <%= @auth.last_name %> </div>
<div>Email: <%= @auth.email %> </div>
<div>Phone: <%= @auth.phone %> </div>
<!-- Put the photo in here -->

<div><%= link_to "Edit Your Personal Info", root_path %></div>
<div><%= link_to "Messages", root_path %></div>
<div><%= link_to "Patients", provider_patientlist_path, :remote => true %></div>
<div><%= link_to "New Patient Requests", "/patient_requests", :remote => true %></div>
<div><%= link_to "Available Appointment Times", root_path %></div>

<!-- This is where new patient requests will come through AJAX-->
<div id="patient_requests"></div>
